@model Project02BurgerMenu.Entities.Message

@{
    ViewBag.Title = "NewMessage";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-12">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">New Message Page</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-3">
                            <label for="productName" class="form-label">Recipient Email Address</label>
                            @Html.TextBoxFor(x => x.ReceiverEmail, new { @class = "form-control" })
                        </div>
                        <div class="mb-3">
                            <label for="productPrice" class="form-label">Subject</label>
                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                        </div>

                        <div class="mb-3">
                            <label for="category" class="form-label">Your Message</label>
                            @Html.TextAreaFor(x => x.Content, 4, 0, new { @class = "form-control" })
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-success">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
