@model List<Project02BurgerMenu.Entities.Message>
@{
    ViewBag.Title = "SendBox";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Giden Mesajlar Sayfası</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Gönderici</th>
                            <th>Konu</th>
                            <th>Tarih</th>
                            <th>Mesajı Aç</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.ReceiverEmail</td>
                                <td>@item.Title</td>
                                <td>@item.SendDate.ToShortDateString()</td>
                                <td>
                                    <a href="#" class="btn btn-primary">Mesajı Aç</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/Message/NewMessage/" class="btn btn-info">Yeni Mesaj Gönderin..</a>
            </div>
        </div>
    </div>
</div>
