﻿@model Project02BurgerMenu.Entities.Category

@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}



<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add New Category</h4>

            <form method="post">
                <label>Category Name</label>
                @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
                <br />
                <button class="btn btn-info">Add</button>
            </form>
        </div>
    </div>
</div>
