@model List<Project02BurgerMenu.Entities.Category>

<ul class="nav site-tab-nav nav-pills mb-5" id="pills-tab" role="tablist">
    @foreach (var item in Model)
    {
        <li class="nav-item site-animate">
            <a class="nav-link" data-toggle="pill" href="#" role="tab" aria-controls="pills-breakfast" aria-selected="true" onclick="showCategory(@item.CategoryId, this)">
                @item.CategoryName
            </a>
        </li>
    }
</ul>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function showCategory(categoryId, element) {
        // Hide all category products
        $('.category-products').hide();

        // Show only the selected category's products
        $('.category-products[data-category-id="' + categoryId + '"]').show();

        // Remove the active class from all tabs
        $('.nav-link').removeClass('active');

        // Make the clicked tab active
        $(element).addClass('active');
    }

    // Show the first category by default
    $(document).ready(function () {
        $('.category-products').hide();
        $('.category-products[data-category-id="1"]').show(); // Assume the category ID to be 1
    });
</script>
