﻿@model Project02BurgerMenu.Entities.Subscribe

<footer class="site-footer site-bg-dark site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 site-animate">
                        <h2 class="site-heading-2">Hakkımızda</h2>
                        <p>@ViewBag.description</p>
                        <br />
                        @* Subscribe İşlemi*@
                        @using (Html.BeginForm("PartialSubscribe", "Default", FormMethod.Post))
                        {
                            <div class="form-group">
                                <h2 class="site-heading-2">Bültenİmİze Abone Olun</h2>

                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control rounded-input", })
                                @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                            </div>

                            <button type="submit" class="rounded-button" style="rounded-input;">Abone Ol</button>
                        }
                    </div>

                    <div class="col-md-1"></div>

                    <div class="col-md-3 site-animate">
                        <div class="site-footer-widget mb-4">
                            <h2 class="site-heading-2">The Restaurant</h2>
                            <ul class="list-unstyled">
                                <li><a href="/Default#section-about" class="py-2 d-block">Hakkımızda</a></li>
                                <li><a href="/Default#section-offer" class="py-2 d-block">Öne Çıkanlar</a></li>
                                <li><a href="/Default#section-gallery" class="py-2 d-block">Galeri</a></li>
                                <li><a href="/Default#section-contact" class="py-2 d-block">İletişim</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 site-animate">
                        <div class="site-footer-widget mb-4">
                            <h2 class="site-heading-2">Linkler</h2>
                            <ul class="list-unstyled">
                                <li><a href="#section-menu" class="py-2 d-block">Ana Yemekler</a></li>
                                <li><a href="#section-menu" class="py-2 d-block">İçecekler</a></li>
                                <li><a href="#section-menu" class="py-2 d-block">Kahvaltı</a></li>
                                <li><a href="#section-menu" class="py-2 d-block">Tatlılar</a></li>
                                <li><a href="#section-menu" class="py-2 d-block">Mezeler</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="row site-animate">
            <div class="col-md-12 text-center">
                <div class="site-footer-widget mb-4">
                    <ul class="site-footer-social list-unstyled ">
                        <li class="site-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="site-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="site-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <p>
                    &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>

<style>
    /* Yuvarlak kenarlı input */
    .rounded-input {
        border-radius: 15px; /* Kenarların yuvarlanma derecesi */
        border: 1px solid #ccc; /* Kenar çizgisi */
        padding: 10px; /* İç boşluk */
        width: 100%; /* Genişliği ayarlar */
    }

    .rounded-button {
        border-radius: 15px; /* Kenarların yuvarlanma derecesi */
        padding: 10px 20px; /* İç boşluk (yatay ve dikey) */
        background-color: orange; /* Butonun arka plan rengi */
        border: none; /* Kenarlık kaldırılır */
        color: white; /* Yazı rengi */
        cursor: pointer; /* Buton üzerine gelindiğinde imleç değişimi */
    }

        .rounded-button:hover {
            background-color: darkorange; /* Hover durumunda arka plan rengini değiştir */
        }
</style>