@model Project02BurgerMenu.Entities.Subscribe
<footer class="site-footer site-bg-dark site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 site-animate">
                        <h2 class="site-heading-2">About Us</h2>
                        <p>@ViewBag.description</p>
                        <br />
                        @* Subscribe Action *@
                        @using (Html.BeginForm("PartialSubscribe", "Default", FormMethod.Post))
                        {
                            <div class="form-group">
                                <h2 class="site-heading-2">Subscribe to Our Newsletter</h2>

                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control rounded-input", placeholder = "Your Email Address" })
                                @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                            </div>

                            <button type="submit" class="rounded-button" style="rounded-input;">Subscribe</button>
                        }
                    </div>

                    <div class="col-md-1"></div>

                    <div class="col-md-3 site-animate">
                        <div class="site-footer-widget mb-4">
                            <h2 class="site-heading-2">The Restaurant</h2>
                            <ul class="list-unstyled">
                                <li><a href="/Default#section-about" class="py-2 d-block">About Us</a></li>
                                <li><a href="/Default#section-offer" class="py-2 d-block">Featured</a></li>
                                <li><a href="/Default#section-gallery" class="py-2 d-block">Gallery</a></li>
                                <li><a href="/Default#section-contact" class="py-2 d-block">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 site-animate">
                        <div class="site-footer-widget mb-4">
                            <h2 class="site-heading-2">Links</h2>
                            <ul class="list-unstyled">
                                <li><a href="#section-menu" class="py-2 d-block">Main Dishes</a></li>
                                <li><a href="#section-menu" class="py-2 d-block">Drinks</a></li>
                                <li><a href="#section-menu" class="py-2 d-block">Breakfast</a></li>
                                <li><a href="#section-menu" class="py-2 d-block">Desserts</a></li>
                                <li><a href="#section-menu" class="py-2 d-block">Appetizers</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="row site-animate">
            <div class="col-md-12 text-center">
                <div class="site-footer-widget mb-4">
                    <ul class="site-footer-social list-unstyled ">
                        <li class="site-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="site-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="site-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <p>
                    &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>

<style>
    /* Rounded input field */
    .rounded-input {
        border-radius: 15px; /* Corner radius */
        border: 1px solid #ccc; /* Border color */
        padding: 10px; /* Padding */
        width: 100%; /* Width adjustment */
    }

    .rounded-button {
        border-radius: 15px; /* Corner radius */
        padding: 10px 20px; /* Padding (horizontal and vertical) */
        background-color: orange; /* Button background color */
        border: none; /* Remove border */
        color: white; /* Text color */
        cursor: pointer; /* Change cursor when hovered */
    }

        .rounded-button:hover {
            background-color: darkorange; /* Change background color on hover */
        }
</style>
