@model Project02BurgerMenu.Entities.Contact
@{
    ViewBag.Title = "DetailMessage";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<br />
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card border-primary">
        <div class="card-body">
            <h4 class="card-title text-primary">Mesaj Detayları</h4>
            <p class="card-description text-muted">Bu, kullanıcının gönderdiği mesajın detaylarını içerir.</p>

            <div class="col-md-12 grid-margin-lg-0 grid-margin stretch-card">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Form Group: Gönderen, Email ve Tarih -->
                        <div class="form-group row">
                            <!-- Gönderen -->
                            <div class="col">
                                <label class="text-secondary font-weight-bold">Gönderen</label>
                                <input class="typeahead form-control border-info"
                                       type="text"
                                       placeholder="@Html.DisplayFor(x => x.Name)"
                                       readonly>
                            </div>

                            <!-- Email -->
                            <div class="col">
                                <label class="text-secondary font-weight-bold">Email</label>
                                <input class="typeahead form-control border-info"
                                       type="text"
                                       placeholder="@Html.DisplayFor(x => x.Email)"
                                       readonly>
                            </div>

                            <!-- Tarih -->
                            <div class="col">
                                <label class="text-secondary font-weight-bold">Tarih</label>
                                <input class="typeahead form-control border-info"
                                       type="text"
                                       placeholder="@Model.SendDate.ToString("dd/MM/yyyy")"
                                       readonly>
                            </div>
                        </div>

                        <!-- Mesaj Bölümü -->
                        <div class="mt-4">
                            <p class="card-description text-secondary font-weight-bold">Mesaj</p>
                            <textarea class="form-control border-info bg-white"
                                      rows="5"
                                      readonly>@Html.DisplayFor(x => x.Message)</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
