<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="user-profile">
        <div class="user-image">
            <img src="~/regal/regal/images/faces/face28.png">
        </div>
        <div class="user-name">
            Yasin Kereci
        </div>
        <div class="user-designation">
           Yazilim Gelistirici
        </div>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="../../index.html">
                <i class="icon-box menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Admin/Category/CategoryList">
                <i class="icon-file menu-icon"></i>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Product/ProductList">
                <i class="icon-pie-graph menu-icon"></i>
                <span class="menu-title">Ürünler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Reservation/ReservationList"">
                <i class="icon-command menu-icon"></i>
                <span class="menu-title">Rezervasyonlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/regal/regal/pages/icons/feather-icons.html">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/regal/regal/pages/icons/feather-icons.html">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Hakkimizda</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/regal/regal/pages/icons/feather-icons.html">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Referanslar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/regal/regal/pages/icons/feather-icons.html">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Istatistikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/regal/regal/pages/icons/feather-icons.html">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Raporlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/regal/regal/pages/icons/feather-icons.html">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Kredi Karti</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/regal/regal/pages/icons/feather-icons.html">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/regal/regal/pages/icons/feather-icons.html">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Cikis Yap</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../docs/documentation.html">
                <i class="icon-book menu-icon"></i>
                <span class="menu-title">Documentation</span>
            </a>
        </li>
    </ul>
</nav>
