<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Regal Admin</title>
    <!-- base:css -->
    <link rel="stylesheet" href="~/regal/regal/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/regal/regal/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/regal/regal/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/regal/regal/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/regal/regal/images/favicon.png" />
</head>
