@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Project02BurgerMenu.Entities.Reservation>
@{
    ViewBag.Title = "ReservationList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<h2>ReservationList</h2>

