@model Project02BurgerMenu.Entities.About
@{
    ViewBag.Title = "AddAbout";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<h2 class="card-title">New About Us Entry</h2>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            

            <form method="post">
                <label>Subtitle</label>
                @Html.TextBoxFor(x => x.AboutTitle, new { @class = "form-control" })
                <br />
                <label>Title</label>
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                <br />
                <label>Description</label>
                @Html.TextAreaFor(x => x.AboutDescription, 10, 0, new { @class = "form-control" })
                <br />
                <button class="btn btn-info">Add</button>
            </form>
        </div>
    </div>
</div>
